.navigation–menu{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 25px;
}
.bww_logo{
    width: 28px;
    height: 28px;
}

.wal-logo{
    width: 160px;
    position: relative;
    top: 70px;
}

.navigation–link{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 700;
}

a:hover{
    color: red;
}

.header{
    position: sticky;
    top: 0;
    background-color: white;
    padding: 5px;
}
main{
    background-color: black;
    text-align: center;
    height: 200vh;
}

body{
    margin-left: 0;
    margin-right: 0;
}